$max_width: 100%;
$half_width: 50%;

$max_cols: 12;
$single_col: $max_width / $max_cols;

$tablet_break: 1000px;
$mobile_break: 600px;

/* Colours */

$white: #ffffff;
$header_color: #1f6d95;
$sub_header_color: #569aaf;
$footer_color: #25313b;
$dark_blue: #0b2e46;
$black_trans: rgba(0,0,0,0.5);
$green_trans: rgba(140, 234, 121, 0.5);
$grey: #F2F2F2;
$blue: #59bbe5;
$side_blue: #acdeff;
$black: #000;

/*  */

body{
    padding: 0;
    margin: 0;
    font-family: calibri, sans-serif;
    font-size: 20px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    display: table;
    margin: 0 auto;
    overflow: auto;
}

.container{
    overflow: auto;
}

.hidden{
    display: none;
}

.section_border{
    width: 70%;
    margin: 30px auto;
    height: 1px;
    background-color: rgba(0,0,0,0.5);
}

.sub_header{
    background-color: $sub_header_color;
    color: $white;

    @for $index from 1 through 6 {
        h#{$index}{
            padding: 0 10px;
            font-weight: 300;
        }
    }

    h1{
        font-size: 2.3em;
    }
    h2{
        font-size: 2.1em;
    }
    h3{
        font-size: 1.8em;
    }
}

nav{
    background-color: $header_color;
    text-align: center;

    .nav_icon{
        display: none;
        width: 54px;
        padding: 10px 10px;
        cursor: pointer;
    }

    ul{
        list-style: none;
        margin: 20px auto;
        padding: 0;
        overflow: auto;
        width: 40%;
        font-size: 0.9em;

        li{
            float: left;
            display: block;
            width: 20%;

            a{
                color: $white;
                text-decoration: none;
            }

            a:hover{
                text-decoration: underline;
            }
        }
    }
}

main{
    margin-top: 20px;
    margin-bottom: 40px;
}

footer{
    background-color: $footer_color;
    color: $white;
    padding: 50px 0 35px 0;
    font-weight: 300;
    font-size: 0.9em;

    .footer_social{
        text-align: right;
        margin-right: 10%;
    }

    .socialmedia_icon {
        width: 40px;
        height: 40px;
        margin: 0 20px;
    }

    .footer_copyright{
        margin-left: 40px;
    }
}

#home{
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-image: url(../resources/imgs/bg.png);
    background-size: cover;
    background-color: $dark_blue;
    color: $white;

    nav{
        background: none;
    }

    h1{
        font-size: 7em;
    }

    h2{
        font-size: 3em;
    }

    h3{
        font-size: 2.7em;
    }

    .con{
        margin-top: 80px;
    }

    .btn{
        padding: 20px 40px;
        margin: 0 30px;
        color: $white;
        text-decoration: none;
        font-size: 1.1em;
        border: 3px solid $green_trans;
    }

    .btn:hover{
        background-color: $black_trans;
    }
}

#about{
    margin-top: 2vh;

    h1{
        margin-top: 40px;
        font-size: 2.5em;
        font-weight: 300;
    }

    p{
        font-size: 1.5em;
        width: 60%;
        line-height: 2.5em;
        font-weight: 300;
    }

    section:nth-child(1) {
        div {
            padding: 0 25px;
        }
        div:nth-child(1) {
            text-align: right;

            img{
                margin-top: 40px;
                width: 100%;
                max-width: 800px;
            }
        }
    }

    section:nth-child(2){
        margin: 30px 0;
        text-align: center;

        .socialmedia_icon {
            margin: 0 20px;
            width: 64px;
            height: 64px;
        }
    }
}

.contact_header{
    h1{
        padding: 90px 0 10px 0;
        margin: 0;
        margin-right: 8%;
        display: block;
        text-align: center;
    }
    h2{
        padding: 0;
        margin: 0;
        text-align: center;
        margin-left: 8%;
        display: block;
    }
    h3{
        text-align: center;
        display: block;
    }

    .social_links_con{
        text-align: center;
        width: 30%;
        min-width: 300px;
        padding: 0;
        margin: 0 auto;
        background-color: $white;

        .socialmedia_icon{
            width: 40px;
            height: 40px;
            margin: 15px 5% 5px 5%;
        }
    }
}

#contact{
    text-align: center;

    label{
        display: block;
        font-size: 1.2em;
        margin: 20px 0;
    }

    input {
        width: 40%;
        min-width: 300px;
        max-width: 500px;
        display: block;
        margin: 0 auto;
        padding: 8px 6px;
    }

    input[type=submit] {
        width: 10%;
        min-width: 200px;
        margin: 20px auto;
        font-size: 0.9em;
        background-color: $dark_blue;
        border: none;
        padding: 15px 0;
        color: $white;
    }

    input[type="email"]:valid, input[type="text"]:valid {
        border: 2px solid $green_trans;
        border-radius: 3px;
    }

    textarea{
        width: 40%;
        min-width: 300px;
        max-width: 500px;
        padding: 5px 4px;
        height: 200px;
        resize: none;
    }
}

.blog_header{
    div:nth-child(1){
        text-align: right;
    }

    .smalltop_text{
        font-size: 0.7em;
        display: inline-block;
        margin-right: 10px;
    }

    h1{
        padding-top: 15px;
        text-align: right;
        margin: 0;

        a{
            color: $white;
            text-decoration: none;
        }

        a:hover{
            text-decoration: underline;
        }
    }

    h3{
        margin: 0;
        font-size: 1.4em;
    }

    p{
        margin: 60px 0 0 0;
    }

    .social_links_con{
        text-align: center;
        width: 30%;
        padding: 0;
        margin: 0 auto;
        background-color: $white;

        .socialmedia_icon{
            width: 40px;
            height: 40px;
            margin: 15px 5% 5px 5%;
        }
    }

    .search_bar{
        text-align: center;
        margin: 20px 0;
        display: block !important;

        input{
            padding: 10px 20px;
            font-size: 0.8em;
            width: 40%;
            border-radius: 90px;
            text-align: center;
        }
    }
}

#blog{
    padding-right: 50px;
}

#blog_post{
    padding-right: 50px;
}

#blog section:nth-child(2n + 1) .blog_post_container{
    background-color: $grey;
}

.blog_post_container{
    padding: 20px 20px 15px 20px;

    .blog_top{
        overflow: auto;

        .blog_time{
            float: left;
            text-align: center;
            width: 12%;
        }
        .blog_title{
            float: left;
            font-size: 32px;
            margin-left: 20px;
            width: calc(63% - 22px);
        }
        .blog_category{
            float: right;
            font-weight: bold;
            width: 25%;
        }
    }
    .blog_content{
        padding: 20px 50px;
        line-height: 1.4em;

        img{
            float: right;
            max-width: 40%;
            padding: 10px 0 10px 20px;
        }
    }
}

.blog_readmore{
    text-align: right !important;
    color: $blue;
    text-decoration: none;
    display: block;
}

.blog_readmore:hover{
    text-decoration: underline;
}

aside{
    text-align: right;

    .container{
        padding-right: 25px;
    }

    ul{
        list-style: none;
        padding: 0;
        margin: 0;

        li{
            text-align: right;
            display: block;
            margin: 15px 0;
        }
    }

    .section_border{
        margin-left: auto;
        margin-right: 0;
    }

    .socialmedia_icon{
        width: 40px;
        height: 40px;
        display: block;
        margin: 10px 0 5px auto;
    }
}

.work_header{
    text-align: right;
}

#work{
    margin: 10vh 0;
    padding: 0 10%;

    .work_btn{
        position: absolute;
        top: 50vh;
    }

    .work_prev{
        left: 20px;
    }

    .work_next{
        right: 20px;
    }

    .work_image{
        height: 30vw;
        text-align: center;

        img{
            height: 100%;
            width: auto;
        }
    }

    .work_preview_controls{
        margin-top: 15px;
        text-align: center;
    }

    .work_preview_btn{
        cursor: pointer;
        width: 25px;
        height: 25px;
        border: 1px solid $black;
        border-radius: 90px;
        display: inline-block;
        margin: 0 10px;

        &.active, &:hover{
            background-color: $dark_blue;
        }
    }

    p{
        line-height: 1.6em;
    }
}

.socialmedia_icon{
    width: 64px;
    height: 64px;
}

.linkedin {
    content: " ";
    display: inline-block;
    background-image: url(../resources/imgs/linkedin.png);
    background-size: cover;
}

.twitter {
    content: " ";
    display: inline-block;
    background-image: url(../resources/imgs/twitter.png);
    background-size: cover;
}

.facebook {
    content: " ";
    display: inline-block;
    background-image: url(../resources/imgs/facebook.png);
    background-size: cover;
}

.row {
    content: "";
    clear: both;
    display: block;
    // margin: auto auto;
    overflow: auto;
}

[class*='col-'] {
    float: left;
    padding-right: 25px;

    &:last-of-type {
        padding-right: 0;
    }
}

@for $i from 1 through $max_cols {
    .col-#{$i} {
        width: $single_col * $i;
    }

    .offset-#{$i} {
        margin-left: $single_col * $i;
    }
}

/* Small Devices, Tablets */
@media all and (max-width: $tablet_break) {
    body{
        font-size: 16px;
    }

    nav{
        ul{
            width: 80%;
        }
    }

    .blog_post_container{
        padding: 10px 10px 15px 5px;

        .blog_title{
            font-size: 1.4em !important;
        }
    }

    .search_bar input{
        width: 70% !important;
    }

    .col-6 {
        width: $half_width;
    }

    .col-3 {
        width: $half_width;
    }

    [class*='offset-'] {
        margin: 0;
    }

    .blog_header{
        h3{
            display: none;
        }

        div:nth-child(2){
            display: none;
        }
    }
}


/* Extra Small Devices, Phones */
@media all and (max-width: $mobile_break) {
    body{
        font-size: 14px;
    }

    nav{
        overflow: auto;
        background: $sub_header_color;

        .nav_icon{
            display: block;
        }

        ul{
            display: none;
            padding: 0;
            margin: 0;
            width: 100%;
            background-color: $header_color;

            li{
                display: block !important;
                font-size: 1em;
            }
        }

        &:hover ul{
            display: block;

            li{
                float: none;
                margin: 10px auto;
                font-size: 1.5em;
            }
        }
    }

    .sub_header{
        h1{
            text-align: center !important;
            margin-top: 10px;
        }
    }

    #about{
        p{
            width: 100%;
        }
    }

    #blog, #blog_post{
        padding-right: 0;
    }

    aside{
        text-align: center !important;
        padding-bottom: 20px;
        background-color: $side_blue;

        li{
            text-align: center !important;
        }

        .section_border{
            margin: 0 auto;
        }

        .socialmedia_icon{
            margin-left: auto;
            margin-right: auto;
        }
    }

    .footer_copyright{
        margin-top: 20px;
    }

    .col-8 {
        width: $max_width;
    }

    .col-10{
        width: $max_width;
    }

    .col-2{
        width: $max_width;
    }

    .extended {
        display: none;
    }

    .col-6 {
        width: $max_width;
    }
}
